# Set default behavior to automatically normalize line endings to LF
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and converted to LF on checkout
*.md text eol=lf
*.py text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.sh text eol=lf
*.ts text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf

# Denote all binary files that should not be modified by Git
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.sqlite3 binary
*.wasm binary
